/* Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 100%;
    margin-bottom: 50px;
    padding: 20px;
  }
}

/* Smartphone */
@media all and (max-width: 600px) {
  header .goto {
    display : none;
  }
  header .menu-icon {
    display : block;
  }

  .lesson {
    width: 100%;
    padding: 20px;
  }
}
